.footer {
  padding: 10px;
}
footer {
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: sticky;
}
a {
  text-decoration: none;
  color: black;
}
button {
  text-decoration: none;
  color: #f3f3f3;
}
a button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: #6750a4;
  border: none;
  border-radius: 10px;
}
