@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 600px) {
  .list {
    width: 100%;
    text-align: center;
  }
}

.list {
  width: 100%;
}

.list button {
  /* display: flex; */
  width: 24em;
  padding: 12px;
  margin: 10px;
  background-color: #eaddff;
  border: none;
  border-radius: 10px;
}
.list a button {
  color: #6750a4;
  text-decoration: none;
  font-weight: bold;
}
